body {
    background-image: url("https://c4.wallpaperflare.com/wallpaper/934/179/717/space-ios-7-abstraction-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-size: cover;
color:rgb(200,97,25);
}
#img1 {
    height: 200px;
    width: 200px;
  margin-top: 250px;
  margin-left: 620px;
}
p{
  color: blue;
}
#leftside {
  width: 200px;
  height: 200px;
  background-color: white;
  position: absolute;
}
