body {
  background-image: url("https://c4.wallpaperflare.com/wallpaper/934/179/717/space-ios-7-abstraction-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color:rgb(200,97,25);
  border-left: 100px;
  border-left-color: white;
}
#img1 {
  position:absolute;
    height: 200px;
    width: 200px;
  margin-top: 250px;
  margin-left: 620px;
}
p{
  color:  rgb(255, 217, 0);
  font-size:40px;
  font-weight: 900;
}
.sidemenu{
  text-align: center;
}
.vert1{
  display: inline-block;
  background:rgb(255, 174, 0);
  border-radius: 4px;
  font-family: "arial-black";
  font-size: 14px;
  color: #FFF;
  padding: 8px 12px;
  cursor: pointer;
  margin: 0;
  position: absolute;
  top: 15%;
  left: 35%;
}
.vert2{
  display: inline-block;
  background:rgb(255, 174, 0);
  border-radius: 4px;
  font-family: "arial-black";
  font-size: 14px;
  color: #FFF;
  padding: 8px 12px;
  cursor: pointer;
  margin: 0;
  position: absolute;
  top: 20%;
  left: 37.7%;
}
.vert2{
  display: inline-block;
  background:rgb(255, 174, 0);
  border-radius: 4px;
  font-family: "arial-black";
  font-size: 14px;
  color: #FFF;
  padding: 8px 12px;
  cursor: pointer;
  margin: 0;
  position: absolute;
  top: 20%;
  left: 37.7%;
}