body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUDQ6LJXPc39Mihn05161P8IQgn6l6gYx11Q&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;

}
#img1 {
    height: 150px;
    width: 150px;
    border-radius: 80px;
    display: block;
  margin-left: 20px;
  margin-right: auto;
  margin-top: center;
}